@import "../../scss/variables.scss";

.card {
  position: relative;
  background-color: $color-secondary;
  width: 100%;
  min-height: 30vh;
  border-radius: 10px;
}
.card-title {
  color: white;
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 30%;
  left: 20px;
}

@media screen and (width > 767px) {
  .card {
    max-width: 26%;
    min-height: 20vh;
    margin: 20px;
  }
}
